
<%= render :partial=>'sidebar' %>

<div class="well" style="margin-top:20px;margin-left:0px;">

	<h1>築年数</h1>
    <p>物件の築年数の件数をグラフで表示します。</p>
	
	<p style="border-bottom: 1px dashed;padding-top:10px;padding-top:10px;margin-bottom:40px;"></p>
	

	<h3>１．月度を指定します。</h3>
	<div style="margin-left:50px;margin-bottom:30px;">
		指定した月度時点の物件を元データにします。
	</div>
	
	<h3>２．グラフ表示ボタンを押下</h3>
	<div style="margin-left:50px;margin-bottom:30px;">
		指定した条件で集計結果が表示されます。
	</div>

</div>