      <!-- Tables
      ================================================== -->
<div id="biru_icon">
<%= render 'biru_icon_kind', :biru_icon => "around_building" %>
</div>
この辺のおすすめスポットは、自分で好きにメンテナンスできるようにしてもいいかも
<!--
    <p>
        <label for="places">場所：</label>
        <select id="places">
            <optgroup label="学ぶ">
                <option value="university">大学</option>
                <option value="school">学校</option>
            </optgroup>
            <optgroup label="食べる">
                <option value="restaurant">レストラン</option>
                <option value="food">飲食店</option>
                <option value="cafe" selected>カフェ</option>
                <option value="bakery">パン屋</option>
                <option value="bar">バー</option>
                <option value="grocery_or_supermarket">食料品店やスーパーマーケット</option>
                <option value="liquor_store">酒屋</option>
                <option value="convenience_store">コンビニ</option>
            </optgroup>
            <optgroup label="買いもの">
                <option value="store">お店</option>
                <option value="jewelry_store">ジュエリーショップ</option>
                <option value="shoe_store">靴屋</option>
                <option value="clothing_store">洋服屋</option>
            </optgroup>
            <optgroup label="アート">
                <option value="art_gallery">アートギャラリー</option>
                <option value="museum">美術館</option>
            </optgroup>
            <optgroup label="ビューティー・ヘルス">
                <option value="health">健康</option>
                <option value="hair_care">ヘアケア</option>
                <option value="beauty_salon">美容院</option>
            </optgroup>
            <optgroup label="病院">
                <option value="doctor">お医者さん</option>
                <option value="dentist">歯医者</option>
                <option value="pharmacy">薬局</option>
            </optgroup>
        </select>
    </p>

    <div>範囲<input type="text" id="place_size" value="1000"/>m</div>

    <div>
      <div><input type="checkbox" name="place" value="university"/>大学</div>
      <div><input type="checkbox" name="place" value="school"/>学校</div>
      <div><input type="checkbox" name="place" value="restaurant"/>レストラン</div>
      <div><input type="checkbox" name="place" value="food"/>飲食店</div>
      <div><input type="checkbox" name="place" value="cafe"/>カフェ</div>
      <div><input type="checkbox" name="place" value="bakery"/>パン屋</div>
      <div><input type="checkbox" name="place" value="bar"/>バー</div>
      <div><input type="checkbox" name="place" value="grocery_or_supermarket"/>食料品店やスーパーマーケット</div>
      <div><input type="checkbox" name="place" value="liquor_store"/>酒屋</div>
      <div><input type="checkbox" name="place" value="convenience_store"/>コンビニ</div>
      <div><input type="checkbox" name="place" value="store"/>お店</div>
      <div><input type="checkbox" name="place" value="jewelry_store"/>ジュエリーショップ</div>
      <div><input type="checkbox" name="place" value="shoe_store"/>靴屋</div>
      <div><input type="checkbox" name="place" value="clothing_store"/>洋服屋</div>
      <div><input type="checkbox" name="place" value="art_gallery"/>アートギャラリー</div>
      <div><input type="checkbox" name="place" value="museum"/>美術館</div>
      <div><input type="checkbox" name="place" value="health"/>健康</div>
      <div><input type="checkbox" name="place" value="hair_care"/>ヘアケア</div>
      <div><input type="checkbox" name="place" value="beauty_salon"/>美容院</div>
      <div><input type="checkbox" name="place" value="doctor"/>お医者さん</div>
      <div><input type="checkbox" name="place" value="dentist"/>歯医者</div>
      <div><input type="checkbox" name="place" value="pharmacy"/>薬局</div>
      <div><input type="checkbox" name="place" value="lawyer"/>法律関係の事務所</div>
      <div><input type="checkbox" name="place" value="finance"/>ファイナンス（会計事務所とか）</div>
      <div><input type="checkbox" name="place" value="embassy"/>大使館</div>
      <div><input type="checkbox" name="place" value="laundry"/>クリーニング屋</div>
      <div><input type="checkbox" name="place" value="florist"/>花屋</div>
      <div><input type="checkbox" name="place" value="furniture_store"/>家具屋</div>
      <div><input type="checkbox" name="place" value="home_goods_store"/>日用品店</div>
      <div><input type="checkbox" name="place" value="lodging"/>施設</div>
      <div><input type="checkbox" name="place" value="place_of_worship"/>寺院・礼拝堂</div>
      <div><input type="checkbox" name="place" value="bank"/>銀行</div>
      <div><input type="checkbox" name="place" value="post_office"/>郵便局</div>
      <div><input type="checkbox" name="place" value="real_estate_agency"/>不動産屋</div>
      <div><input type="checkbox" name="place" value="travel_agency"/>旅行代理店</div>
      <div><input type="checkbox" name="place" value="parking"/>駐車場</div>
    </div>

-->