      <!-- Tables
      ================================================== -->
<pre class="pre-scrollable" style="background-color:white"><table class="table table-striped table-bordered table-hover table-condensed" style="padding:0 0 0 0;margin:0 0 0 0 ;">
        <thead>
          <tr>
            <th>営業所</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <td><a href="<%= "javascript:link_shop_click(" + shop.id.to_s + ")"%>"><%= shop.name %></a></td>
            <td><%= shop.address %></td>
          </tr>
          <% end %>
        </tbody>
      </table></pre>
