<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "test.html" %>

<table>
<% @buildings.each do | biru | %>
    <tr>
      <td><%= biru.name %>
      <% biru.rooms.each do |room| %>
        &nbsp;<%= room.name %>
      <% end %>
      </td>
    </tr>


<% end %>
</table>>