<%#= stylesheet_link_tag('jquery-themes/pepper-grinder/jquery.ui.theme') %>
<%#= stylesheet_link_tag('jquery-themes/start/jquery.ui.theme') %>



<script type="text/javascript">
	
	var sum_plan;
	var sum_compleate;
	
	// 合計の計算をします。
	function mysum(val, name, record)
	{
		// return parseFloat(val||0) + parseFloat((record[name]||0));
		
		
		if (typeof (val) === "string") {
			val = {max: false, plan_cnt: 0, complete_cnt: 0};
			sum_plan = 0;
			sum_compleate = 0;
		}

		sum_plan += record['plan_cnt'];
		sum_compleate += record['complete_cnt'];

		if (record[name]) {
		 record[name]
		 val.max = true;
		}
	 
		if(sum_plan === 0){
			return 0;
		}else{
			//return Math.floor((val.complete_cnt/val.plan_cnt) * 1000)/10;
			return Math.floor((sum_compleate/sum_plan) * 1000)/10;
		}
		//return 0;
	 
	}
	
	var disp_biru_type;
	disp_biru_type = false;

	var disp_biru_mentenance;
	disp_biru_mentenance = false;

	
	init_jqgrid();
	
	// ダブルクリック時のイベント

	function init_jqgrid(){
		// 列名の定義
		var col_names = [
			"支店",
			 "営業所",
			 "巻き直し対象の委託契約",
			 "完了件数",
			 "完了率",
			 "リンク",
		];
	
		// 列属性の定義
		var col_model = [
	  	  {name:"group_name", index:"group_name", align:"center",classes:"no_class"}
		 ,{name:"shop_name", index:"shop_name", align:"center",classes:"no_class"}
		 ,{name:"plan_cnt", index:"plan_cnt", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}'}
		 ,{name:"complete_cnt", index:"complete_cnt", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}'}
		 ,{name:"complete_per", index:"complete_per", align:"center",classes:"no_class",summaryType:mysum, summaryTpl : '割合 : {0}%'}
 		 ,{name:"url", index:"map_link", width:200, align:"center", classes:"no_class", hidden:true}
		];
	

		// その他の設定
		jqgrid_opt = {
			 table_name:'building_table'
			,fotter_name:'building_pager'
			,div_name:'div_dummy_02'
			,caption:'管理物件集計' 
			,event_type:30
			,shrinkFit:true
			,multiselect:true
		};
		
		// jqgrid作成
		$(function(){
			
			var table_div = $('#' + jqgrid_opt.table_name);
			var div_box = $('#' + jqgrid_opt.div_name);
	
			table_div.jqGrid({
			  	data : gon.data_list,  //表示したいデータ
			  	datatype : "local",            //データの種別 他にjsonやxmlも選べます。しかし、私はlocalが推奨です。
			  	colNames : col_names,           //列の表示名
			  	colModel : col_model,   //列ごとの設定
			  	caption : jqgrid_opt.caption,    //ヘッダーのキャプション
			  	rowNum : 100,                   //一ページに表示する行数
				height : 800,                  //高さ
			  	shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
				pager : 'building_pager',
				viewrecords: true,
				grouping:true,                    //グルーピングon
				groupingView : {                  //グルーピング設定
					groupField : ['group_name'],     //グループする列指
			　　　　        groupSummary : [true]
				},
			
			    onSelectRow: function(id) {
					// シングルクリックイベント
				    data = jQuery('#building_table').getRowData(id);
					//alert(location.href);
					//alert(location.host);
			 		screen_block();
					
					location.href = location.protocol + '//' + location.host + '/biruweb/trust_rewinding/' + data.url
					
				}
				
			});
			
			
		});

		
		
		
	}
</script>


<div style="padding:10px 80px 10px 80px;">
  <h2>管理受託　巻き直し状況一覧</h2>
  
	最終更新日：<%= @data_update.update_datetime %>&nbsp;&nbsp;※営業所をクリックすると詳細画面に飛びます。
	<div id="div_dummy_02" style="width:100%;height:90%;">
		<table id="building_table"></table>
		<div id = "building_pager"></div>
	</div>
</div>


