<!-- For index -->

  <style type="text/css">
	
	a{
	  text-decoration:underline;	
	}
	
	dl{
		width:200px;
		margin:50px auto;
	}
	dt{
		line-height:35px;
		font-size:large;
		text-indent:3em;
		font-weight:bold;
		color:white;
		height:35px;
		background:url("images/background.jpg")
	}
	dt.over{
		background:url("images/background-over.jpg");
		cursor:pointer;
	}
	dt.selected{
		background:url("images/background_selected.jpg");
		cursor:default;
		color:black;
	}
	dd{
		height:300px;
		background:#D4D0C8;
	}
	dd p{
		text-indent:1em;
		padding:20px;
	}
		
  </style>
  
  <script type="text/javascript">
  
	  // データの作成
	  var date = [
	  	{no:1,name:"nakagawa",age:20,local:"Japan",hobby:"Tennis"},
	  	{no:2,name:"nakayama",age:20,local:"Japan",hobby:"Soccer"}
	  ];
	  
	  //列の設定
	  var colModelSettings= [	
		{name:"radio",index:"radio",width:50,align:"center",classes:"radio_class"},
	  	{name:"no",index:"no",width:70,align:"center",classes:"no_class"},
	  	{name:"name",index:"name",width:200,align:"center",classes:"name_class"},
	  	{name:"age",index:"age",width:200,align:"center",classes:"age_class"},
	  	{name:"local",index:"local",width:200,align:"center",classes:"local_class"},
	  	{name:"hobby",index:"hobby",width:200,align:"center",classes:"hobby_class"}
	  ]
	  //列の表示名
	  var colNames = ["","No.","name","age","local","hobby"];
	  
	  // テーブルの作成
	  $(function() {

		  $("#sample1").jqGrid({
		  	data:date,  //表示したいデータ
		  	datatype : "local",            //データの種別 他にjsonやxmlも選べます。しかし、私はlocalが推奨です。
		  	colNames : colNames,           //列の表示名
		  	colModel : colModelSettings,   //列ごとの設定
		  	rowNum : 10,                   //一ページに表示する行数
		  	rowList : [1, 10, 20],         //変更可能な1ページ当たりの行数
		  	caption : "Sample Display",    //ヘッダーのキャプション
		  	height : 200,                  //高さ
		  	width : 500,                   //幅
		  	pager : 'pager1',              //footerのページャー要素のid
		  	shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
		  	viewrecords: true              //footerの右下に表示する。
		  });
		  
	  });
	  
  	  $(function () {
  	  	$(".accordion .toggle").click(function () {
  	  		$(this).next("ul").slideToggle(200);
  	  		$(this).next("div").slideToggle(200);
			
  	  		$(this).toggleClass("open");
  	  	});
  	  });
  
  </script>
  
<div style="margin-left:100px;margin-right:100px;">

<h1>物件一覧</h1>
<p style="text-align:right;">レンターズデータ取得：<%= @data_update.update_datetime %></p>

<div class="accordion ui-jqgrid  ui-widget-content ui-corner-all" style="width:500px;" >
    <ul>
        <li>
            <span class="toggle  ui-jqgrid-view ui-jqgrid-titlebar ui-widget-header ui-corner-top ">子項目ありメニュー1</span>
			<div>
				bbbb
			</div>
            <ul>
                <li><a href="#">子項目</a></li>
                <li><a href="#">子項目</a></li>
                <li><a href="#">子項目</a></li>
            </ul>
        </li>
        <li>
            <span class="toggle ui-jqgrid-view ui-jqgrid-titlebar ui-widget-header ui-corner-top">子項目ありメニュー</span>
            <ul>
                <li><a href="#">子項目</a></li>
                <li><a href="#">子項目</a></li>
                <li><a href="#">子項目</a></li>
            </ul>
        </li>
        <li>
			<div class="ui-jqgrid-view ui-jqgrid-titlebar ui-widget-header ui-corner-top" style="height:25px;padding:0;margin:0;" ><a href="#">子項目なし</a></div>
		</li>
        <li><a href="#">子項目なし</a></li>
    </ul>
</div>



		
<table id="sample1"></table>
<div id = "pager1"></div>


<%#= grid(@building_rooms,  upper_pagination_panel: true ) do |g| 

	#g.action_column 
	g.column name: '管理営業所' , attribute: 'name', model: 'Shop', :html =>{ :style => 'width:200px;text-align:center;'}, custom_filter: Shop.find(:all).map{|pr| [pr.name, pr.name]}  do |obj| obj.building.shop.name if obj.building && obj.building.shop end

	g.column name: '建物CD' , attribute: 'code', model: 'Building'  do |obj| obj.building.code if obj.building end

		
	g.column name: '建物名' , attribute: 'name', model: 'Building'  do |obj|
  	  if obj.building
  
  		  if obj.building.attack_code
  	  	    str = obj.building.name 
  		  else
    	  	str = obj.building.name 
		  end
  
  		  #link_to(str, building_show_path(obj.building_id)) 
		  raw("<a href=""javascript:win_building(" + obj.building_id.to_s + ");"">" + str + "</a>")
  	  end
	end

	g.column name: '部屋' , attribute: 'name', model: 'Room'  do |obj| obj.name end
	g.column name: '管理方式' , attribute: 'name', model: 'ManageType', custom_filter: ManageType.find(:all).map{|pr| [pr.name, pr.name]}  do |obj| obj.manage_type.name if obj.manage_type end
	g.column name: '空室状態' , attribute: 'free_state', model: 'Room'  do |obj| if obj.free_state == true then '空室' else '入居中' end end
	g.column name: 'レンターズ' , attribute: 'room_code', model: 'RentersRoom'  do |obj| link_to(obj.renters_room.room_code, "http://www.roomspot.net/area/room.php?room=#{obj.renters_room.room_code}",{:target=>["_blank"]}) if obj.renters_room  end

	g.column name: '登録画像' , attribute: 'picture_num', model: 'RentersRoom'  do |obj| unless obj.renters_room then "" else link_to( obj.renters_room.picture_num.to_s + "枚", renters_pictures_path(obj.id) , {:target=>["_blank"]}) + "  （" +  if obj.renters_room.zumen then link_to('図面あり', obj.renters_room.zumen, {:target=>"_blank"}) else '図面なし' end + ")"  end  end
		
 end %>
 
</div>

