<h3><%= link_to '業績確認', performance_monthly_path %></h3>
<p class="discription">月度・部署ごとに業績監視項目をグラフで表示します。</p>

<h3><%= link_to '築年数', performance_build_age_path %></h3>
<p class="discription">築年数ごとの物件数を表示します。</p>

<h3><%= link_to '業績確認 （旧）（2014年度まで）', performances_path %></h3>
<p class="discription">月度・部署ごとに業績監視項目をグラフで表示します。（※2014年度までの情報）</p>

