<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2frenters_summary&rs:Command=Render">レンターズ登録状況（一覧）</a></h3>
<p class="discription">レンターズに登録している画像の登録状況を確認します</p>

<h3><%= link_to "レンターズ登録状況　地図表示（自社物）", renters_path %></h3>
<p class="discription">レンターズに登録している『自社物』の画像の登録状況を確認します。</p>

<h3><%= link_to "レンターズ登録状況　地図表示（他社物）", renters_path('sakimono') %></h3>
<p class="discription">レンターズに登録している『他社物』の画像の登録状況を確認します</p>

