<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%8a%b6%e6%b3%81%e7%85%a7%e4%bc%9a_%e8%a6%81%e7%a2%ba%e8%aa%8d%e4%b8%80%e8%a6%a7&rs:Command=Render" target="_blank">要確認一覧</a></h3>
<p class="discription">
	以下の内容を表示します。<br>
	&nbsp;&nbsp;1.契約・退去でシステムに登録された内容で不備の可能性があるもの<br>
	&nbsp;&nbsp;2.振込入金のアンマッチ<br>
	&nbsp;&nbsp;3.賃貸借契約の所長承認待ち<br>
	&nbsp;&nbsp;4.受託書類の提出期限切れ<br>
</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%8a%b6%e6%b3%81%e7%85%a7%e4%bc%9a_%e5%85%a5%e9%87%91_%e4%b8%80%e8%a6%a7&rs:Command=Render" target="_blank">アンマッチ 状況照会</a></h3>
<p class="discription">振込入金でアンマッチ状況</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%8a%b6%e6%b3%81%e7%85%a7%e4%bc%9a_%e5%a5%91%e7%b4%84%e5%85%a5%e5%8a%9b&rs:Command=Render" target="_blank">契約 状況照会</a></h3>
<p class="discription">契約未完了（契約金未入金 or 所長承認待ち）一覧を表示します。</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%8a%b6%e6%b3%81%e7%85%a7%e4%bc%9a_%e9%80%80%e5%8e%bb%e5%85%a5%e5%8a%9b&rs:Command=Render" target="_blank">退去・解約 状況照会</a></h3>
<p class="discription">解約進行中の進行状況を表示します。</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2fjoukyo_gyousya&rs:Command=Render" target="_blank">工事業者進捗 状況照会</a></h3>
<p class="discription">工事業者の進捗状況を表示します。</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%8a%b6%e6%b3%81%e7%85%a7%e4%bc%9a_%e4%bf%ae%e7%90%86&rs:Command=Render" target="_blank">修理 状況照会</a></h3>
<p class="discription">修理の処理状況を表示します。</p>

<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%b5%8c%e7%90%86_%e5%ae%9a%e6%9c%9f%e5%b7%a5%e4%ba%8b_%e5%b7%a5%e4%ba%8b%ef%bc%86%e7%ae%a1%e7%90%86%e5%a7%94%e8%a8%97_%e4%b8%80%e8%a6%a7&rs:Command=Render">定期メンテ残高確認</a></h3>
<h3><a href="http://pzazzzs031.polus.local/ReportServer/Pages/ReportViewer.aspx?%2f%e7%b5%8c%e7%90%86_%e5%ae%9a%e6%9c%9f%e5%b7%a5%e4%ba%8b_%e5%b7%a5%e4%ba%8b%ef%bc%86%e7%ae%a1%e7%90%86%e5%a7%94%e8%a8%97_%e6%9c%88%e5%ba%a6%e5%88%a5&rs:Command=Render">定期メンテ残高確認 工事番号別 明細</a></h3>
<p class="discription">定期工事定義、OBIC工事、OBIC請求入金を元に残高確認用元データを出力します。</p>

