


<%= render :partial=>'sidebar', :locals=>{:val => 1} %>

<div class="well" style="margin-top:20px;margin-left:30px;">

	<h1>業績分析</h1>
    <p>ビル管理の各種数値を集計＋グラフで表示します。</p>
	
	<p style="border-bottom: 1px dashed;padding-top:10px;padding-top:10px;margin-bottom:40px;"></p>
	

	<h3>業績確認タブ</h3>
    <p>指定した年度・部署・項目の計画・実績数値をグラフ表示します。</p>
	
	<h3>その他タブ</h3>
    <p>物件の築年数、空き日数をグラフ表示します。</p>
</div>